<a href="https://colab.research.google.com/github/pavansaikrishna78/Create-Blog/blob/main/Data_Splitting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Library

In [1]:
import pandas as pd
import numpy as np

Loading Data

In [2]:
data = pd.read_csv('/content/sample_data/california_housing_test.csv')

A litttle bit of data exploration

In [3]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [4]:
data.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [8]:
data=data.fillna(value=537.0)

In [9]:
data.shape

(3000, 9)

Approach 1 - Manual Splitting

In [12]:
x = data.drop('median_house_value',axis=1)
x.head()

   longitude  latitude  ...  households  median_income
0    -122.05     37.37  ...       606.0         6.6085
1    -118.30     34.26  ...       277.0         3.5990
2    -117.81     33.78  ...       495.0         5.7934
3    -118.36     33.82  ...        11.0         6.1359
4    -119.67     36.33  ...       237.0         2.9375

[5 rows x 8 columns]

Further Splitting data

In [14]:
x_train = x.loc[0:2000,:]
x_test  = x.loc[2000:,:]
y_train = x.loc[0:2000,:]
y_test  = x.loc[2000:,:]

In [15]:
x_train.shape

(2001, 8)

In [16]:
y_train.shape

(2001, 8)

In [17]:
x_test.shape

(1000, 8)

In [18]:
y_test.shape

(1000, 8)

Splitting data usling sklearn

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,x,test_size=0.20)